/* CSS Used Colors */
/* Dark Green - #3a431b (text and nav background color) */
/* Light Green - #d5d6a1 */
/* Off White - #fffcf5 (Background color) */
/* Dimgray */
/* White */

/* Header Stuff Here (; */
header {
    font-family: "Montserrat", sans-serif;
    background-color: #d5d6a1;
    padding: 2.5rem 3vw;
    text-transform: uppercase;
}

header h1 {
    margin: 0;
    color: #3a431b;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

header h2 {
    font-weight: 500;
    color: #3a431b;
    font-size: 1.2rem;
    text-transform: none;
    letter-spacing: 0.001rem;
}

/* Nav stuff Here */
nav {
    font-family: "Montserrat", sans-serif;
    background: #3a431b;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav a {
    font-size: 1rem;
    text-decoration: none;
    color: #d5d6a1;
    font-weight: 500;
    display: block;
    padding: 0.85rem 3vw;
}

nav li.active a {
    background-color: white;
    color: #3a431b;
}

nav a:hover {
    color: white;
}

/* Main body Stuff Here */
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: #3a431b;
}

main {
    background-color: #fffcf5;
    padding: 2vw;
}

main h1 {
    font-weight: 430;
    font-size: 1.9rem;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    padding: 2vw 1.5vw 0vw;
}

main h2 {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.02rem;
    padding: 0.5rem 1.5vw 0rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

h3 {
    padding: 0vw 2vw;
    font-size: 1.2rem;
    font-weight: 430;
    margin-top: 0.5vw;
    margin-bottom: -0.3rem;
    margin-left: 0rem;
}

p {
    padding: 0rem 4vw;
    font-size: 16px;
}

.contactinfo {
   font-size: 1.3rem;
}

ul, ol {
    padding: 0.5vw;
    padding-bottom: 0.1rem;
    margin-left: 4rem;
    margin-bottom: 2vw;
    margin-top: 2vw;
}
ul {
   list-style-type:square;
}


dt {
    padding: 0rem 4vw;
    font-size: 16px;
    font-weight: 520;
    margin-top: 2rem;
}

dd {
    padding: 0.5vw;
    padding-bottom: 0.1rem;
    margin-left: 4rem;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

main a {
    color: #3a431b;
    text-decoration: none;
    margin-left: 2vw;
}

main a:hover {
    color: #6d6b27;
}

figure.float {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;  
}

figure.float img {
    width: 100%;
    height: auto;
}

figure.float figcaption {
    text-align: center;
    font-size: .75rem;
}

/* Gallery CSS */

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    margin: .5rem 2% 0 0; 
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #b64e11;
}


/* Footer stuff here */

footer {
    clear: both;
}

footer {
    color: black;
    background-color: #d5d6a1;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

footer address {
    padding: 0.5rem 4vw;
    border: 1px solid white;
    border-radius: 0.1rem;
    width: 10rem;
    margin-left: 1.8rem;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: white;
}
